@import 'tailwindcss';

@theme {
  --color-black: #100F0F;
  --color-paper: #FFFCF0;
  --color-base-50: #F2F0E5;
  --color-base-100: #E6E4D9;
  --color-base-150: #DAD8CE;
  --color-base-200: #CECDC3;
  --color-base-300: #B7B5AC;
  --color-base-400: #9F9D96;
  --color-base-500: #878580;
  --color-base-600: #6F6E69;
  --color-base-700: #575653;
  --color-base-800: #403E3C;
  --color-base-850: #343331;
  --color-base-900: #282726;
  --color-base-950: #1C1B1A;
  --color-red-600: #AF3029;
  --color-orange-600: #BC5215;
  --color-yellow-600: #AD8301;
  --color-green-600: #66800B;
  --color-cyan-600: #24837B;
  --color-blue-600: #205EA6;
  --color-purple-600: #5E409D;
  --color-magenta-600: #A02F6F;
  --color-red-400: #D14D41;
  --color-orange-400: #DA702C;
  --color-yellow-400: #D0A215;
  --color-green-400: #879A39;
  --color-cyan-400: #3AA99F;
  --color-blue-400: #4385BE;
  --color-purple-400: #8B7EC8;
  --color-magenta-400: #CE5D97;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background: var(--color-black);
  color: var(--color-base-200);
}
